/*
font-family: 'Amiko', sans-serif;
font-family: 'Lora', serif;
font-family: 'Gentium Basic', serif;
*/

body {
    font-size: 10px;
    width: 100vw;
    background: url(../img/index-background.jpg);
    background-repeat: repeat;
    background-size: 100vw;
}

.navbar {
    font-family: 'Amiko', sans-serif;
    font-size: 1rem;
}

.right-items {
    float: right;
    margin-right: 0 !important;
}

.dashboard-container {
    width: 100%;
    margin: 0;
}

.dashboard-container .btn, footer .btn {
    background-color: #004d4d;
    border-color: #004d4d;
    color: #c7c7c7;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

.dashboard-container .btn:hover, footer .btn:hover {
    border-color: #008080;
    background-color: #008080;

}

.title {
    color: white;
    font-family: 'Lora', serif;
    font-size: 2rem;
    padding: 2rem;
}

.card {
    width: 80%;
    font-family: 'Gentium Basic', serif;
    font-size: 0.8rem;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.2);
}

footer .card {
    margin-top: 3rem;
    width: 100%;
    color: white;
}

footer .card-header {
    font-size: 1rem;
}

.visible-after-log {
    display: none;
}

/* Register form */

.form-control:focus {
    border: none;
    outline: none; 
    box-shadow: none;
}

.valid-input,.valid-input:focus  {
    border: 2px solid #00994d;
}

.invalid-input,.invalid-input:focus {
    border: 2px solid #992600;
}

#registerFormContainer {
    width: 60%;
    margin: auto;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    color: #fff;
}

#registerFormContainer .row {
    margin: 1rem 0;
}

#registerFormContainer .btn {
    /* background-color: #004d4d; */
    border-color: #004d4d;
    color: #c7c7c7;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    float: left;
}

#registerForm {
    width: 70%;
    margin:2rem auto;
}

#registerFormContainer .btn:hover, 
#registerFormContainer .btn.selected,
#submit,
#submitLogin {
    border-color: #008080;
    background-color: #008080;
}

#submit,
#submitLogin {
    float: right;
    position: absolute;
    right: 1rem;
    width: 7rem;
}

.submit-container {
    position: relative;
    height: 4rem;
}

.form-control {
    opacity: 0.7;
    color: black;
}

#ageResult {
    text-align: right;
    padding-top: 2rem;
}

#loginForm {
    width: 70%;
    margin:2rem auto;
    display: none;
}